In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_excel('◎位置情報と対応(水道水) 基準満たしているか否か.xlsx')

In [4]:
df

,NAME,ST,Unnamed: 0,Rowid,XY水道水位置情報,X,Y,陰影起伏,曲率,傾斜角,...,FL,PF,RF,Turbidity.,pH.,Ammonia.,Nitrite.,Nitrate.,Iron.,EColi.
0,Mahendranagar,0,0,4,192,80.173190,28.967150,61,864000000,89.976921,...,0,0,0,0,0,0,0,0,0,0
1,Mahendranagar,1,1,2,191,80.175688,28.974328,25,432000000,89.980904,...,0,0,0,0,0,0,0,0,0,1
2,Mahendranagar,2,2,3,188,80.179382,28.958797,0,-288000000,89.947029,...,0,0,0,0,0,0,0,0,0,0
3,Mahendranagar,3,3,1,190,80.186682,28.971595,0,-432000000,89.945984,...,0,0,0,0,0,0,0,0,0,0
4,Dhangadhi,4,4,7,197,80.565455,28.705933,177,-432000000,89.955597,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Bhadrapur,215,215,213,148,88.074577,26.545469,0,864000000,89.962547,...,0,0,0,0,0,0,0,0,0,1
216,Bhadrapur,216,216,208,152,88.079301,26.561851,171,-720000000,89.914589,...,0,0,0,0,0,0,0,0,0,1
217,Bhadrapur,217,217,207,151,88.079965,26.558706,35,576000000,89.947029,...,0,0,0,0,0,0,0,0,0,1
218,Bhadrapur,218,218,215,149,88.087847,26.539138,0,-144000000,89.729904,...,0,0,0,0,0,0,0,0,0,1
219,Bhadrapur,219,219,206,150,88.091459,26.556422,176,-720000000,89.947029,...,0,0,0,0,0,0,0,0,0,1

In [5]:
df.shape

(220, 36)

In [6]:
df=df.dropna(axis=0)

In [7]:
df.shape

(218, 36)

In [8]:
y=df['EColi.']

In [9]:
y.shape

(218,)

In [10]:
X=df.iloc[:, [7, 8, 9, 10, 11, 12, 13, 14, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]]

In [11]:
X

,陰影起伏,曲率,傾斜角,傾斜方向,高度,近くの川への距離,supply hour,no water days,pipes/tabs \n個/km,served/pipes,(popu-served)/pipes\n /km,Age of oldeset\npipe,ST.1,RSF,FL,PF,RF,Turbidity.
0,61,864000000,89.976921,244.983109,221,0.008422,5.99,56.78,0.015463,364.957845,1215.815486,40,0,1,0,0,0,0
1,25,432000000,89.980904,36.869896,223,0.000505,5.99,56.78,0.015463,364.957845,1215.815486,40,0,1,0,0,0,0
2,0,-288000000,89.947029,123.690071,214,0.002185,5.99,56.78,0.015463,364.957845,1215.815486,40,0,1,0,0,0,0
3,0,-432000000,89.945984,135.000000,217,0.002295,5.99,56.78,0.015463,364.957845,1215.815486,40,0,1,0,0,0,0
4,177,-432000000,89.955597,305.537689,181,0.003237,6.04,1.06,0.011188,524.400000,195.600000,40,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,0,864000000,89.962547,168.690063,92,0.004671,10.08,0.66,0.026729,247.679671,204.065708,46,1,1,0,0,0,0
216,171,-720000000,89.914589,296.565063,94,0.003045,10.08,0.66,0.026729,247.679671,204.065708,46,1,1,0,0,0,0
217,35,576000000,89.947029,236.309937,93,0.000700,10.08,0.66,0.026729,247.679671,204.065708,46,1,1,0,0,0,0
218,0,-144000000,89.729904,135.000000,87,0.003060,10.08,0.66,0.026729,247.679671,204.065708,46,1,1,0,0,0,0
219,176,-720000000,89.947029,303.690063,93,0.002358,10.08,0.66,0.026729,247.679671,204.065708,46,1,1,0,0,0,0

In [12]:
print('Class labels:', np.unique(y))

Class labels: [0 1]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3,
                                                  random_state=1, stratify=y)

In [15]:
print('Labels counts in y:', np.bincount(y))
print('Lables counts in y_train:', np.bincount(y_train))
print('Lables counts in y_test:', np.bincount(y_test))

Labels counts in y: [ 98 120]
Lables counts in y_train: [68 84]
Lables counts in y_test: [30 36]

In [16]:
X_train_std=(X_train-X_train.mean(axis=0))/X_train.std(axis=0)

In [17]:
X_test_std=(X_test-X_train.mean(axis=0))/X_train.std(axis=0)

In [18]:
def threshold(fare):
    if fare<=0:
        return 0
    else:
        return 1

In [19]:
X_train_std['ST.1']=X_train_std['ST.1'].apply(threshold)
X_train_std['RSF']=X_train_std['RSF'].apply(threshold)
X_train_std['FL']=X_train_std['FL'].apply(threshold)
X_train_std['PF']=X_train_std['PF'].apply(threshold)
X_train_std['RF']=X_train_std['RF'].apply(threshold)
X_test_std['ST.1']=X_test_std['ST.1'].apply(threshold)
X_test_std['RSF']=X_test_std['RSF'].apply(threshold)
X_test_std['FL']=X_test_std['FL'].apply(threshold)
X_test_std['PF']=X_test_std['PF'].apply(threshold)
X_test_std['RF']=X_test_std['RF'].apply(threshold)

In [20]:
X_train_std

,陰影起伏,曲率,傾斜角,傾斜方向,高度,近くの川への距離,supply hour,no water days,pipes/tabs \n個/km,served/pipes,(popu-served)/pipes\n /km,Age of oldeset\npipe,ST.1,RSF,FL,PF,RF,Turbidity.
218,-0.686850,-0.382187,0.048990,-0.410915,-1.159545,-0.327503,1.523975,-1.478259,-0.031214,-1.256239,-0.508817,-0.784953,1,1,0,0,0,-0.55525
100,1.831442,-1.612959,0.077027,1.317255,0.879267,0.004160,-0.664960,0.484507,-0.190579,0.969445,-0.352555,1.003462,1,1,1,1,1,-0.55525
147,-0.686850,0.110122,0.083950,0.323822,0.939576,0.527216,-0.664960,0.484507,-0.190579,0.969445,-0.352555,1.003462,1,1,1,1,1,-0.55525
190,-0.327094,0.725508,0.080769,0.610908,-1.188024,-0.724693,0.663970,-0.877575,-0.023260,-1.165195,0.956916,-1.091538,0,0,0,0,0,-0.55525
192,-0.226362,-0.012955,0.082693,-1.455383,-1.146142,-0.883740,-0.441751,0.040044,-0.179687,-0.272058,5.788956,-1.295928,0,0,0,0,0,-0.55525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,-0.686850,-0.751419,0.072918,0.057667,-0.975264,-0.532585,0.978793,-1.406907,-0.042145,-1.324718,-0.331289,-0.963794,0,0,0,0,0,-0.55525
156,-0.686850,1.463971,0.085376,-0.390698,0.931200,-0.800241,-0.664960,0.484507,-0.190579,0.969445,-0.352555,1.003462,1,1,1,1,1,-0.55525
16,-0.686850,0.233199,0.080769,-1.263421,-1.132740,-0.364624,-0.185797,-0.334968,-0.043024,-1.269909,0.629604,-0.963794,0,0,0,0,0,1.78914
144,-0.686850,-0.136033,0.084819,0.003578,1.019990,0.350658,-0.664960,0.484507,-0.190579,0.969445,-0.352555,1.003462,1,1,1,1,1,-0.55525
118,-0.686850,-0.628341,0.085483,-0.938961,0.978108,-0.840677,-0.664960,0.484507,-0.190579,0.969445,-0.352555,1.003462,1,1,1,1,1,-0.55525

In [21]:
X_test_std

,陰影起伏,曲率,傾斜角,傾斜方向,高度,近くの川への距離,supply hour,no water days,pipes/tabs \n個/km,served/pipes,(popu-served)/pipes\n /km,Age of oldeset\npipe,ST.1,RSF,FL,PF,RF,Turbidity.
170,-0.68685,-1.120650,0.084883,0.160399,0.988159,-0.629460,-0.664960,0.484507,-0.190579,0.969445,-0.352555,1.003462,1,1,1,1,1,-0.55525
29,-0.68685,-0.136033,0.081264,0.111757,-1.121013,-0.711877,0.661410,-0.497654,-0.095006,-0.858288,0.014909,-0.733855,0,0,0,1,0,-0.55525
140,-0.68685,-1.489882,0.081144,-0.169349,0.941252,-0.391136,-0.664960,0.484507,-0.190579,0.969445,-0.352555,1.003462,1,1,1,1,1,-0.55525
54,0.47876,-0.628341,0.069451,0.802870,-1.137766,-0.325975,0.925043,-1.045169,-0.075581,-1.015096,0.682016,-1.014892,0,0,0,0,0,-0.55525
168,-0.68685,3.187052,0.085436,0.369003,0.924499,-0.577397,-0.664960,0.484507,-0.190579,0.969445,-0.352555,1.003462,1,1,1,1,1,1.78914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,-0.68685,0.110122,0.069451,-1.071459,-1.137766,0.373798,-0.185797,-0.334968,-0.043024,-1.269909,0.629604,-0.963794,0,0,0,0,0,-0.55525
57,-0.68685,-1.243727,0.081144,-1.106514,-1.146142,-0.767948,0.925043,-1.045169,-0.075581,-1.015096,0.682016,-1.014892,0,0,0,0,0,-0.55525
157,-0.68685,-0.751419,0.084077,0.123687,0.917798,0.191907,-0.664960,0.484507,-0.190579,0.969445,-0.352555,1.003462,1,1,1,1,1,1.78914
43,-0.68685,-0.012955,0.083884,-0.656966,0.240986,-0.917227,2.124955,-1.533017,-0.201546,0.075399,-0.243955,-0.938246,0,0,0,0,0,1.78914
27,-0.68685,-0.628341,0.081701,0.156198,-1.126039,-0.204030,0.661410,-0.497654,-0.095006,-0.858288,0.014909,-0.733855,0,0,0,1,0,-0.55525

In [22]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(C=1, random_state=1)
lr.fit(X_train_std, y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
lr.score(X_train_std, y_train)

0.618421052631579

In [24]:
lr.score(X_test_std, y_test)

0.6515151515151515

In [25]:
from sklearn.svm import SVC

In [26]:
svm=SVC(kernel='linear', C=0.1, random_state=1)

In [27]:
svm.fit(X_train_std, y_train)

SVC(C=0.1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=1, shrinking=True, tol=0.001,
    verbose=False)

In [28]:
svm.score(X_train_std, y_train)

0.6513157894736842

In [29]:
svm.score(X_test_std, y_test)

0.6212121212121212

In [30]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(estimator=svm,
                      X=X_train_std, y=y_train,
                      cv=30, n_jobs=1)

In [31]:
score

array([0.66666667, 0.66666667, 0.2       , 0.8       , 0.2       ,
       0.6       , 0.4       , 0.6       , 0.6       , 0.6       ,
       0.8       , 0.6       , 0.6       , 0.8       , 0.8       ,
       0.2       , 0.6       , 0.6       , 0.4       , 0.4       ,
       0.8       , 0.4       , 0.6       , 0.4       , 0.4       ,
       0.6       , 0.6       , 0.8       , 0.2       , 0.4       ])

In [32]:
np.mean(score)

0.5444444444444444

In [33]:
svm=SVC(kernel='rbf', gamma=1, C=100)

In [34]:
svm.fit(X_train_std, y_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=1, kernel='rbf', max_iter=-1,
    probability=False, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [35]:
svm.score(X_train_std, y_train)

0.993421052631579

In [36]:
svm.score(X_test_std, y_test)

0.5757575757575758

In [37]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(estimator=svm,
                      X=X_train_std, y=y_train,
                      cv=10, n_jobs=1)

In [38]:
score

array([0.625     , 0.6875    , 0.66666667, 0.4       , 0.66666667,
       0.4       , 0.66666667, 0.6       , 0.4       , 0.53333333])

In [39]:
np.mean(score)

0.5645833333333333

In [40]:
from sklearn.neighbors import KNeighborsClassifier

In [41]:
knn=KNeighborsClassifier(n_neighbors=50, p=10, metric='minkowski')

In [42]:
knn.fit(X_train_std, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=50, p=10,
                     weights='uniform')

In [43]:
knn.score(X_train_std, y_train)

0.625

In [44]:
knn.score(X_test_std, y_test)

0.6060606060606061

In [45]:
from sklearn.model_selection import GridSearchCV

In [46]:
from sklearn.svm import SVC

In [47]:
from sklearn.pipeline import make_pipeline
pipe_svc=make_pipeline( SVC(random_state=1))

In [48]:
param_range=[0.0001, 0.001, 0.01, 0.1, 1.0, 10.0, 100.0, 1000.0]

In [49]:
param_grid=[{'svc__C':param_range, 'svc__kernel':['linear']},
            {'svc__C':param_range, 'svc__gamma':param_range,
             'svc__kernel':['rbf']}]

In [50]:
gs=GridSearchCV(estimator=pipe_svc,
                param_grid=param_grid,
                scoring='accuracy',
                cv=10,
                n_jobs=-1)

In [51]:
gs=gs.fit(X_train_std, y_train)

In [52]:
gs.best_score_

0.6366666666666666

In [53]:
gs.best_params_

{'svc__C': 1000.0, 'svc__gamma': 0.1, 'svc__kernel': 'rbf'}

In [54]:
clf=gs.best_estimator_

In [55]:
clf.fit(X_train_std, y_train)

Pipeline(memory=None,
         steps=[('svc',
                 SVC(C=1000.0, break_ties=False, cache_size=200,
                     class_weight=None, coef0=0.0,
                     decision_function_shape='ovr', degree=3, gamma=0.1,
                     kernel='rbf', max_iter=-1, probability=False,
                     random_state=1, shrinking=True, tol=0.001,
                     verbose=False))],
         verbose=False)

In [56]:
clf.score(X_test_std, y_test)

0.5757575757575758

In [57]:
param_range=[0.0001, 0.001, 0.01, 0.1, 1.0, 10.0, 100.0, 1000.0]
param_grid=[{'svc__C':param_range, 'svc__kernel':['linear']}]
gs=GridSearchCV(estimator=pipe_svc,
                param_grid=param_grid,
                scoring='accuracy',
                cv=10,
                n_jobs=-1)

In [58]:
gs=gs.fit(X_train_std, y_train)

In [59]:
gs.best_score_

0.5529166666666667

In [60]:
gs.best_params_

{'svc__C': 0.1, 'svc__kernel': 'linear'}

In [61]:
clf=gs.best_estimator_
clf.fit(X_train_std, y_train)
clf.score(X_test_std, y_test)

0.6212121212121212