In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_excel('◎位置情報と対応(水道水) 基準満たしているか否か.xlsx')

In [4]:
df

,NAME,ST,Unnamed: 0,Rowid,XY水道水位置情報,X,Y,陰影起伏,曲率,傾斜角,...,FL,PF,RF,Turbidity.,pH.,Ammonia.,Nitrite.,Nitrate.,Iron.,EColi.
0,Mahendranagar,0,0,4,192,80.173190,28.967150,61,864000000,89.976921,...,0,0,0,0,0,0,0,0,0,0
1,Mahendranagar,1,1,2,191,80.175688,28.974328,25,432000000,89.980904,...,0,0,0,0,0,0,0,0,0,1
2,Mahendranagar,2,2,3,188,80.179382,28.958797,0,-288000000,89.947029,...,0,0,0,0,0,0,0,0,0,0
3,Mahendranagar,3,3,1,190,80.186682,28.971595,0,-432000000,89.945984,...,0,0,0,0,0,0,0,0,0,0
4,Dhangadhi,4,4,7,197,80.565455,28.705933,177,-432000000,89.955597,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Bhadrapur,215,215,213,148,88.074577,26.545469,0,864000000,89.962547,...,0,0,0,0,0,0,0,0,0,1
216,Bhadrapur,216,216,208,152,88.079301,26.561851,171,-720000000,89.914589,...,0,0,0,0,0,0,0,0,0,1
217,Bhadrapur,217,217,207,151,88.079965,26.558706,35,576000000,89.947029,...,0,0,0,0,0,0,0,0,0,1
218,Bhadrapur,218,218,215,149,88.087847,26.539138,0,-144000000,89.729904,...,0,0,0,0,0,0,0,0,0,1
219,Bhadrapur,219,219,206,150,88.091459,26.556422,176,-720000000,89.947029,...,0,0,0,0,0,0,0,0,0,1

In [5]:
y=df['EColi.']

In [6]:
X=df.iloc[:, [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]]

In [7]:
X

,陰影起伏,曲率,傾斜角,傾斜方向,高度,近くの川への距離,supply hour,no water days,total population,population served,...,pipes/tabs \n個/km,served/pipes,(popu-served)/pipes\n /km,Age of oldeset\npipe,ST.1,RSF,FL,PF,RF,Turbidity.
0,61,864000000,89.976921,244.983109,221,0.008422,5.99,56.78,48936,11298,...,0.015463,364.957845,1215.815486,40,0,1,0,0,0,0
1,25,432000000,89.980904,36.869896,223,0.000505,5.99,56.78,48936,11298,...,0.015463,364.957845,1215.815486,40,0,1,0,0,0,0
2,0,-288000000,89.947029,123.690071,214,0.002185,5.99,56.78,48936,11298,...,0.015463,364.957845,1215.815486,40,0,1,0,0,0,0
3,0,-432000000,89.945984,135.000000,217,0.002295,5.99,56.78,48936,11298,...,0.015463,364.957845,1215.815486,40,0,1,0,0,0,0
4,177,-432000000,89.955597,305.537689,181,0.003237,6.04,1.06,36000,26220,...,0.011188,524.400000,195.600000,40,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,0,864000000,89.962547,168.690063,92,0.004671,10.08,0.66,22000,12062,...,0.026729,247.679671,204.065708,46,1,1,0,0,0,0
216,171,-720000000,89.914589,296.565063,94,0.003045,10.08,0.66,22000,12062,...,0.026729,247.679671,204.065708,46,1,1,0,0,0,0
217,35,576000000,89.947029,236.309937,93,0.000700,10.08,0.66,22000,12062,...,0.026729,247.679671,204.065708,46,1,1,0,0,0,0
218,0,-144000000,89.729904,135.000000,87,0.003060,10.08,0.66,22000,12062,...,0.026729,247.679671,204.065708,46,1,1,0,0,0,0
219,176,-720000000,89.947029,303.690063,93,0.002358,10.08,0.66,22000,12062,...,0.026729,247.679671,204.065708,46,1,1,0,0,0,0