In [1]:
import geopandas as gpd
import networkx as nx
import fiona
import tqdm
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import glob
import re
import time

from shapely.ops import nearest_points
from tqdm import tqdm
from shapely.ops import cascaded_union
from shapely.wkt import loads 
from shapely.geometry import Point
from scipy.spatial import cKDTree

In [13]:
network_list = glob.glob(r'C:\Users\kurokiso\Desktop\道路ネットワーク\解析データ\notoverlap\road_data\*')

In [19]:
length_list = []
rowid_list = []
for i in tqdm(network_list):
    # id
    rowid = i[-9:]
    rowid = re.sub(r"\D", "", rowid)
    # 座標変換
    network = gpd.read_file(i)
    try:
        sum_length = network.LENGTH.sum()
    except:
        sum_length = 0
    length_list.append(sum_length)
    rowid_list.append(rowid)
    
    
df = pd.DataFrame({'Rowid':rowid_list, 'length': length_list})
df.to_csv('length.csv')
#     gpd.GeoDataFrame.to_file(geo_df, "buffer_100.gpkg", driver="GPKG", encoding='utf-8')

100%|████████████████████████████████████████████████████████████████████████████████| 206/206 [00:07<00:00, 26.45it/s]

In [18]:
df

    Rowid       length
0      10   942.017130
1     100   472.880837
2     101  3475.898540
3     102  2876.707025
4     103  1285.328830
..    ...          ...
201    95   578.260440
202    96  1217.253923
203    97  1474.122780
204    98  2007.637590
205    99   932.638300

[206 rows x 2 columns]

In [7]:
df.to_csv("density.csv")